<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Coach #<%= @coach.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/coaches" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/coaches/<%= @coach.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit coach
        </a>
      </div>

      <div class="col">
        <a href="/delete_coach/<%= @coach.id %>" class="btn btn-block btn-outline-secondary">
          Delete coach
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Coach
      </dt>
      <dd>
        <% if @coach.coach.present? %>
          <a href="/teachers/<%= @coach.coach_id %>">
            <%= @coach.coach.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @coach.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@coach.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@coach.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

