<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All plans
    </h1>

    <a href="/plans/new" class="btn btn-block btn-outline-secondary">
      Add a new plan
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "plan_templates/plans_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Plan description
        </th>

        <th>
          Coach
        </th>

        <th>
          Plan owner
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @plans.each do |plan| %>
      <tr>
        <td>
          <%= plan.id %>
        </td>

        <td>
          <%= plan.plan_description %>
        </td>

        <td>
          <% if plan.coach.present? %>
            <a href="/teachers/<%= plan.coach.id %>">
              <%= plan.coach.name %>
            </a>
          <% end %>
        </td>

        <td>
          <% if plan.plan_owner.present? %>
            <a href="/teachers/<%= plan.plan_owner.id %>">
              <%= plan.plan_owner.name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(plan.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(plan.updated_at) %> ago
        </td>

        <td>
          <a href="/plans/<%= plan.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @plans, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
