<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Plan #<%= @plan.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/plans" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/plans/<%= @plan.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit plan
        </a>
      </div>

      <div class="col">
        <a href="/delete_plan/<%= @plan.id %>" class="btn btn-block btn-outline-secondary">
          Delete plan
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Plan description
      </dt>
      <dd>
        <%= @plan.plan_description %>
      </dd>

      <dt>
        Plan owner
      </dt>
      <dd>
        <% if @plan.plan_owner.present? %>
          <a href="/teachers/<%= @plan.plan_owner_id %>">
            <%= @plan.plan_owner.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Coach
      </dt>
      <dd>
        <%= @plan.coach_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@plan.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@plan.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

