<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All teachers
    </h1>

    <a href="/teachers/new" class="btn btn-block btn-outline-secondary">
      Add a new teacher
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Email
        </th>

        <th>
          Password
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @teachers.each do |teacher| %>
      <tr>
        <!-- Display teacher.id start -->
        <td>
          <%= teacher.id %>
        </td>
        <!-- Display teacher.id end -->

        <!-- Display teacher.email start -->
        <td>
          <%= teacher.email %>
        </td>
        <!-- Display teacher.email end -->

        <!-- Display teacher.password start -->
        <td>
          <%= teacher.password %>
        </td>
        <!-- Display teacher.password end -->

        <!-- Display teacher.name start -->
        <td>
          <%= teacher.name %>
        </td>
        <!-- Display teacher.name end -->

        <!-- Display teacher.created_at start -->
        <td>
          <%= time_ago_in_words(teacher.created_at) %> ago
        </td>
        <!-- Display teacher.created_at end -->

        <!-- Display teacher.updated_at start -->
        <td>
          <%= time_ago_in_words(teacher.updated_at) %> ago
        </td>
        <!-- Display teacher.updated_at end -->

        <td>
          <a href="/teachers/<%= teacher.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @teachers, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
