<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Teacher #<%= @teacher.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/teachers" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/teachers/<%= @teacher.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit teacher
        </a>
      </div>

    </div>

    <dl>
      <dt>
        Email
      </dt>
      <dd>
        <%= @teacher.email %>
      </dd>

      <dt>
        Password
      </dt>
      <dd>
        <%= @teacher.password %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @teacher.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@teacher.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@teacher.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "teacher_templates/teacher_coaches" %>
  </div>
</div>
