<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Teacher #<%= @teacher.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/teachers" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link teacher start -->
      <div class="col">
        <a href="/teachers/<%= @teacher.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit teacher
        </a>
      </div>
      <!-- Edit link teacher end -->

    </div>

    <dl>
      <dt>
        Email
      </dt>
      <!-- Display email start -->
      <dd>
        <%= @teacher.email %>
      </dd>
      <!-- Display email end -->

      <dt>
        Password
      </dt>
      <!-- Display password start -->
      <dd>
        <%= @teacher.password %>
      </dd>
      <!-- Display password end -->

      <dt>
        Name
      </dt>
      <!-- Display name start -->
      <dd>
        <%= @teacher.name %>
      </dd>
      <!-- Display name end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@teacher.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@teacher.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
